/* Example google font import */
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

/* Target the title element and apply the following styles: */

#title {
  background-color: rgb(255, 0, 0);
  color: #000000;
  padding: 15px;
  margin: 50px;

  border-style: solid;  
  border-color: #000000;
  border-radius: 50px;

  font-family: 'Lobster', cursive;
  font-size: 50px; 
  text-align: center;
}

/* Global styling */
body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(120deg, #000000, #000307);
  color: white;
  text-align: center;
  margin: 0;
  padding: 0;
}

/* Container */
#container {
  background-color: #e90b0b;
  border-radius: 15px;
  padding: 30px;
  margin: 50px auto;
  width: 60%;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

/* Headings and text */
h1 {
  color: #080005;
}

p {
  color: #0e0e00;
}

/* Image styling */
#album-cover {
  width: 250px;
  border-radius: 10px;
  border: 3px solid #0e0108;
  margin: 20px 0;
}

/* Button styling */
#play-button {
  background-color: #f8f1f1;
  color: #282a36;
  border: none;
  padding: 12px 25px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

#play-button:hover {
  background-color: #8be9fd;
  transform: scale(1.05);
}

